main {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color:rgb(250, 245, 240);
  padding-top: 100px;  
  background-image: url("../../images/trees-md.jpg");
  background-position: center;
  background-attachment: fixed;

}

header {
  color: white;
}


/* media queries */
@media (min-width: 361px) {
  /* h2 {
    font-size: 100px;
  } */
}