section {
  min-height: 200px;
  background-color: rgba(38, 57, 5, 0.9);
}

section:nth-child(even) {
  background-color: rgba(85, 122, 9, 0.9);

}

section > header {
  padding: 10px 15px;
  font-size: 40px;
}

p {
  font-size: 20px;
  padding: 0;
  margin: 0 5px 5px 5px;
  font-family: 'Imbue', sans-serif;
}


