

section {
  padding: 30px 15px 0;
}



form {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 650px;
}

label p {
  margin: 6px 0 23px;
}

p + p {
  margin-top: 15px;
}

form {
  text-align: left;
}

label {
  display: block;
}

input[type="number"] {
  width: 50px;
}

.form-section {
  margin-bottom: 30px;
}

.button-section {
  padding: 0 0 0 15px;
}

.overview-section input,
.overview-section textarea {
  width: 100%;
}
.leaf-type-section label {
  display: inline;
}

.leaf-type-explanation {
  font-size: 14px;
}

.leaf-entry {
  min-height: 0;
}

.leaf-entry header {
  padding: 0;
}

.leaf-entry header h3 {
  margin: 0;
}

.leaf-description {
  text-align: left;
  margin-bottom: 30px;
}

.leaf-stat {
  color: blue;
}